<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Copyright © 2021 - <%= new Date().getFullYear(); %> <a target="_blank"
                                                                           href="#">CameraHub</a>, All
            rights reserved.</p>
    </div>
    <div class="footer-section f-section-2">
        <p class="">Coded with
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-heart">
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg>
        </p>
    </div>
</div>
<link href="/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css"/>
<link href="/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css"/>
<link href="/assets/css/components/custom-sweetalert.css" rel="stylesheet" type="text/css"/>
<link href="/plugins/notification/snackbar/snackbar.min.css" rel="stylesheet" type="text/css">
<script src="/plugins/notification/snackbar/snackbar.min.js"></script>
<script src="/plugins/sweetalerts/sweetalert2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    socket.on('alert', function (msg) {
        console.log('Get Alert Message');
        let tempArray = msg.split('|');
        let msgValue = tempArray[1];
        let time = tempArray[2];
        //$("#alertList").prepend('<div class="dropdown-item"><div class="media server-log"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"> <rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect> <rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect> <line x1="6" y1="6" x2="6" y2="6"></line> <line x1="6" y1="18" x2="6" y2="18"></line> </svg><div class="media-body"><div class="data-info""><a href="/notification"><h6 class="">New Alert!!!!</h6><p class="">' + time + '</p></a></div></div></div></div>');
        Snackbar.show({
            text: 'New Alert Received',
            pos: 'top-right'
        });
        swal({
            title: new Date(time * 1000).toLocaleString() + ' New Alert!',
            text: msgValue,
            imageUrl: '/alert/' + time + '.png',
            imageWidth: 480,
            imageHeight: 270,
            imageAlt: 'Alert image',
            animation: false,
            padding: '2em'
        });
    });
    socket.on('serverWarning', function () {
        console.log('Get Server Warning Message');
        Snackbar.show({
            text: 'New Warning Received',
            pos: 'top-right'
        });
        swal({
            title: new Date().toLocaleString() + ' Warning!',
            text: 'AI Server Down',
            animation: false,
            padding: '2em'
        });
    });
    socket.emit('login', <%= locals.userID %>);
</script>